[Desktop Entry]
Name=armagetron
Comment=Tron lightcycle game
Comment[pl]=Gra Tron ze światłocyklem 
Exec=armagetron
Terminal=false
Icon=armagetron.png
Type=Application
Encoding=UTF-8
Categories=Application;Game;ArcadeGame;
# vi: encoding=utf-8
