[Desktop Entry]
Name=armagetron
Comment=Tron lightcycle game
Comment[pl]=Gra Tron ze światłocyklem 
Exec=armagetron
Terminal=0
Icon=armagetron.png
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
